stages:
  - mirror
  - test
  - install
  - build
  - deploy
  - release
  - docstats

variables:
  GITLAB_ACCESS_TOKEN: "$GITLAB_ACCESS_TOKEN"
  GITHUB_OAUTH_TOKEN: "$GITHUB_OAUTH_TOKEN"

clone_master:
  stage: mirror
  only:
    - master
    - develop
  tags:
    - key_github
  script:
    - git checkout master
    - git pull origin master
    - git push -u git@github.com:namboy94/xdcc-downloader.git master --force
    - git checkout develop
    - git pull origin develop
    - git push -u git@github.com:namboy94/xdcc-downloader.git develop --force

run_unit_tests_python_2:
  stage: test
  tags:
    - linux
    - python
  script:
    - 3to2 . --write
    - python2 setup.py test

run_unit_tests_python_3:
  stage: test
  tags:
    - linux
    - python
  script:
    - python3 setup.py nosetests --with-coverage --cover-package=xdcc_dl --cover-branches --cover-erase --cover-html --cover-inclusive --nocapture
    - rsync -av cover/ /var/www/coverage.namibsun.net/public_html/xdcc-downloader --delete-before
    - python3 builder.py coverage-html /var/www/coverage.namibsun.net/public_html

run_unit_tests_windows:
  stage: test
  tags:
    - windows
    - python
  script:
    - python setup.py test

install_on_linux:
  stage: install
  only:
    - master
    - develop
  tags:
    - linux
    - python
  script:
    - python3 setup.py install --user

install_on_windows:
  stage: install
  only:
    - master
  tags:
    - windows
    - python
  script:
    - python setup.py install

pyinstaller_linux:
  stage: build
  only:
    - master
  tags:
    - linux
    - python
  script:
    - python3 setup.py install --user
    - python3 builder.py build pyinstaller_linux
    - pip3 uninstall xdcc_dl -y
  artifacts:
    paths:
      - build/gitlab_build_scripts/*

pyinstaller_windows:
  stage: build
  only:
    - master
  tags:
    - windows
    - python
  script:
    - python setup.py install
    - python builder.py build pyinstaller_windows
    - pip uninstall xdcc_dl -y
  artifacts:
    paths:
      - build/gitlab_build_scripts/*

source_dist:
  stage: deploy
  only:
    - master
  tags:
    - linux
    - python
  script:
    - python3 setup.py register sdist upload

binary_3_dist:
  stage: deploy
  only:
    - master
  tags:
    - linux
    - python
  script:
    - python3 setup.py bdist_wheel upload

binary_2_dist:
  stage: deploy
  only:
    - master
  tags:
    - python
    - linux
  script:
    - 3to2 . --write
    - python2 setup.py bdist_wheel
    - twine upload dist/*

upload_release_to_github:
  stage: release
  only:
    - master
  tags:
    - linux
    - python
  script:
    - python3 builder.py github-release

upload_release_to_gitlab:
  stage: release
  only:
    - master
  tags:
    - linux
    - python
  script:
    - python3 builder.py gitlab-release

generate_sphinx_documentation:
  stage: docstats
  only:
    - master
    - develop
  tags:
    - linux
    - python
  script:
    - cd doc
    - make buildsource
    - make latexpdf
    - make html
    - rsync -av build/latex/xdcc-downloader.pdf /var/www/docs.namibsun.net/public_html/pdf_docs/xdcc_downloader.pdf --delete-before
    - rsync -av build/html/ /var/www/docs.namibsun.net/public_html/html_docs/xdcc_downloader --delete-before
    - cd ..
    - python3 builder.py documentation-html /var/www/docs.namibsun.net/public_html
  artifacts:
    paths:
      - doc/build/latex/xdcc_dl.pdf
      - doc/build/html

gitstats:
  stage: docstats
  only:
    - master
    - develop
  tags:
    - linux
  script:
    - gitstats . gitstats
    - rsync -av gitstats/ /var/www/gitstats.namibsun.net/public_html/gitstats/xdcc_downloader --delete-before
    - git_stats generate
    - rsync -av git_stats/ /var/www/gitstats.namibsun.net/public_html/git_stats/xdcc_downloader --delete-before
    - python3 builder.py gitstats-html /var/www/gitstats.namibsun.net/public_html
  artifacts:
    paths:
      - gitstats
      - git_stats
